@font-face {
  font-family: 'GARAIT';
  src:  url(../../../fonts/GARAIT.ttf);
       font-style: normal;
       font-weight: normal;
}
@font-face {
  font-family: 'DIPLOMA-SCRIPT-RUS';
  src:  url(../../../fonts/DIPLOMA-SCRIPT-RUS.otf);
       font-style: normal;
       font-weight: normal;
}

@media screen and (max-width: 1700px) {
 
}

@media screen and (max-width: 1300px) {
 
}

@media screen and (max-width: 800px) {

}
#indiv-431 {
    /*--primary-color: #333;
    --secondary-color: #eee;*/
    --background-color: #eaeeed;
    --background2-color: #f8f6ec;
     --background3-color: #fcf1f0;
      --background4-color: #f8f6ec;
    --green-color: #566842;
--blue-color: #617d98;
--dark-blue-color: #2e4154;
--bezh-color: #ebe3d0;
--pink-color: #c67c8b;
--orange-color: #cc765e;

    --text-color: #303030;
    --main-font: 'GARAIT', sans-serif; /* Основной шрифт */
    --beauty-font: 'DIPLOMA-SCRIPT-RUS', sans-serif; /* Шрифт для заголовков */
    --secondary-font: 'ZapfCalligr', sans-serif; /* Второй шрифт */
}

#indiv-431{
    font-family: var(--main-font);
    font-size: 24px;
    line-height: 120%;
    color: var(--dark-blue-color);
    overflow: hidden;
  /*  background: #fbf9ef;
        z-index: -1000;
    position: relative;*/
}
#indiv-431 p{

    margin: 0;
}
 #indiv-431 .title_text{
    font-family: var(--beauty-font);
    font-size: 64px;
    line-height: 120%;
    color: var(--green-color);
}
#indiv-431 .descr_text{
    font-family: var(--main-font);
    font-size: 32px;
    line-height: 120%;
    color: var(--dark-blue-color);
}
#indiv-431 .header{
         height: 100vh;
    background-image: url(/images/sites/indiv/431/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center center;
    z-index: -100;
        max-width: 500px;
    margin: auto;
    overflow: hidden;
    position: relative;
 }
#indiv-431 .header-blocks{
     position: relative;
    z-index: 100;
 }
#indiv-431 .header-block-text{
     position: relative;
    z-index: 100;
 }
#indiv-431 .header-block-bg-main{
         position: absolute;
    width: 50%;
    right: -50px;
    top: 5vh;
    /* transform: translate(-0%, -50%); */
    z-index: -10;
 }
 #indiv-431 .header-block-text{
         display: flex
;
       flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
       padding: 5vh 0 15vh;
 }
 
  #indiv-431 .header-block-small-heart,  #indiv-431 .info-date{
         background: var(--background-color);
 }
   #indiv-431 .header-block-small-heart{
       padding: 50px 0;
   }
 #indiv-431 #playButton {
    width: 50px;
    position: relative;
    top: 0px;
    left: 0px;
    margin: auto;
}
     #indiv-431 #music-text {
        font-size: 20px;
        padding: 0px;
    }
 #indiv-431 .header-text-simple{
     color: var(--green-color);
    font-family: var(--beauty-font);
    font-size: 54px;
    line-height: 100%;
        margin-bottom: 30vh;
 }
 #indiv-431 .header-block-age{
     color: var(--blue-color);
    font-family: var(--beauty-font);
    font-size: 184px;
    line-height: 50%;
 }
 #indiv-431 .header-text-beauty{
         color: var(--blue-color);
    font-family: var(--main-font);
    text-align: left;
    padding-left: 20%;
    font-size: 60px;
    line-height: 100%;
 }
 #indiv-431  .header-text-age{
         font-size: 250px;
    text-shadow: 10px 10px 0 #92bfc394;
 }
  #indiv-431 .welcome_title_text{
         font-family: var(--beauty-font);
    color: var(--green-color);
    font-size: 48px;
 }
 #indiv-431 .welcome_beauty_text{
     font-family: var(--beauty-font);
    color: var(--green-color);
    font-size: 40px;
    padding: 40px 0;
 }
 #indiv-431  .date-calendar {
    background: #566842c2;
    border-radius: 10px;
    padding: 20px;
    margin: 50px 20px;
        max-width: 500px;
    margin: 50px auto;
    overflow: hidden;
}
 #indiv-431  h3 {
       color: var(--bezh-color);
    font-family: var(--beauty-font);
    font-size: 42px;
    /* line-height: 120%; */
    padding-bottom: 0px;
    text-align: center;
}
 #indiv-431  .date-calendar table {
   margin: auto;
    color: var(--bezh-color);
    font-family: gotham;
}
 #indiv-431  tbody,  #indiv-431  td,  #indiv-431  tfoot, #indiv-431  th,  #indiv-431  thead,  #indiv-431  tr {
    padding: 5px 8px;
    border-width: 0;
}
#indiv-431 tr {    
    text-transform: uppercase;
}
 #indiv-431  .wedding-day {
    position: relative;
    padding-top: 10px;
    text-align: center;
    z-index: 10;
    color: var(--green-color);
}
#indiv-431 .info-date {
    padding-bottom: 10px;
}
#indiv-431  .info-img-left{
    position: absolute;
    width: 25%;
    top: 25%;
    max-width: 200px;
}
#indiv-431  .info-img-right{
    position: absolute;
    width: 45%;
    /* top: 25%; */
    right: 0;
    bottom: 15%;
     max-width: 200px;
}
     #indiv-431  .wedding-day:before {
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
       width: 45px;
    height: 40px;
        background-image: url(https://wow-card.ru/images/sites/vmeste/heart-white-01.svg);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -10;
    }
    #indiv-431   .block-img-frame, #indiv-431   .info-invitation{
        position: relative;
    }
     #indiv-431 .registration_descr_text{
               font-family: var(--beauty-font);
    color: var(--green-color);
    font-size: 40px;
    line-height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    }
     #indiv-431  .title_text-block{
            padding: 70px 0 20px;
    }
    #indiv-431 .info-date__img{
        width: 85%;
    max-width: 500px;
    margin: auto;
   padding-bottom: 30px;
   max-width: 400px;
    }
    #indiv-431 .rsvp__button{
        background: #566842cc;
    border-radius: 8px;
    width: 85%;
    margin: auto;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    max-width: 400px;
    }
   #indiv-431 .separate-block-mid{
        position: absolute;
    top: -3%;
    left: -5%;
    width: 45%;
    z-index: 1;
    transform: rotate(45deg);
       max-width: 300px;
    }
    #indiv-431 .places-block{
            position: relative;
    padding-top: 50px;
        z-index: 2;
    }
    #indiv-431 .info-date__place{
            position: relative;
                padding-bottom: 50px;
                background: white;
    position: relative;

    }
   #indiv-431 .separate-block-mid2{
            position: absolute;
    bottom: 5px;
        max-width: 200px;
    right: -5%;
    width: 45%;
    z-index: 1;
    transform: rotate(-185deg);
    }
    #indiv-431 .timetable{
            max-width: 500px;
    margin: auto;
    background-image: url(/images/sites/indiv/431/4.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center center;
    z-index: -100;
    position: relative;
    color: var(--pink-color);
    }
     #indiv-431 .timetable_title_text{
    color: var(--pink-color);    
    }
    #indiv-431 .timetable__block {
  padding: 10px 0 120px;
}
#indiv-431 .timetable__block-stroke {
    display: flex
;
    flex-direction: row;
    gap: 10px;
    width: 90%;
    max-width: 600px;
    margin: auto;
}
#indiv-431 .timetable__block-time {
   width: calc(50% - 6px);
    text-align: right;
    font-size: 24px;
}

#indiv-431 .timetable__block-lines {
    display: grid
;
    width: 12px;
   grid-template-rows: 12px 1fr;
}
#indiv-431 .timetable__block-name{
    font-size: 24px;
}
#indiv-431 .timetable__circle {
    text-align: center;
    width: 12px;
    height: 12px;
    background: var(--pink-color);
    border-radius: 50%;
}
#indiv-431 .timetable__line {
   border-left: 1px solid var(--pink-color);
    margin-left:  5.5px;
        height: 70px;
}
#indiv-431 .question__label {
    display: flex
;
    align-items: center;
    gap: 5px;
}

#indiv-431 .question__label{
        margin-bottom: 0px;
}
#indiv-431 .question__unvisible {
    display: none;
}
#indiv-431 .question__visible-radio {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
   
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 50%;
}
#indiv-431  .question__unvisible:checked + .question__visible-radio::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
        background-color: var(--green-color);
    border-radius: 50%;
}
#indiv-431  .question__visible-checkbox {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
   
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid black;
}
#indiv-431 .question__unvisible:checked + .question__visible-checkbox::before {
    content: "✔";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color:    var(--green-color);
}
#indiv-431 #question .button-container{
    text-align: center;
    margin: 0 auto;
    display: flex
;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}
#indiv-431 .question_descr_text {
    padding-bottom: 20px;
}
#indiv-431 #question .rsvp__button{
        margin: 0 auto;
}

#indiv-431 .timer {
    background: #566842ba;
    border-radius: 15px;
    width: 85%;
    max-width: 500px;
    margin: auto;
    z-index: 10;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    position: relative;
}
#indiv-431 .timer-title {
   
       color: var(--bezh-color);
    font-size: 16px;
    text-transform: uppercase;
    padding: 40px 0 20px;
    margin: auto;
    text-align: center;
}
#indiv-431 .timer__text{
    color: var(--bezh-color);
    font-size: 14px;
}
#indiv-431 .counter{
       background: var(--background2-color);
    padding-bottom: 50px;
    position: relative;
}
#indiv-431 #clockdiv {
    display: flex
;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    max-width: 250px;
}
#indiv-431 .img-newspaper-2{
    position: absolute;
    left: -50px;
    transform: rotate(25deg);
    z-index: 0;
    width: 40%;
    max-width: 250px;
    bottom: 0;
}

#indiv-431 .timer__block-info {
    display: flex
;
    flex-direction: column;
    align-items: center;
}
#indiv-431 #questions{
     background: var(--background3-color);  
     padding-bottom: 70px;
}
#indiv-431 .question__bloks{
    position: relative;
}
#indiv-431 .question__bloks .question-img-1{
    position: absolute;
    width: 30%;
        max-width: 300px;
}
#indiv-431 .question__bloks .question-img-2{
       position: absolute;
    width: 100%;
    bottom: 0px;
    right: -100%;
        max-width: 1200px;
    transform: rotate(-75deg) translate(-60%, -5%);
}

#indiv-431 .timer__block-inside {
    display: flex
;
    gap: 5px;
    flex-direction: column;
        align-items: center;
}
#indiv-431 .question__container{
    position: relative;
    z-index: 2;
}
#indiv-431 .timer__number {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: var(--background2-color);
    border-radius: 50%;
    font-size: 18px;
}
#indiv-431  .timetable__block-time{
    font-family: var(--secondary-font);
}
#indiv-431  .timetable__block-text{
      width: calc(50% - 6px);
    text-align: left;
}
#indiv-431 .timetable__block-stroke-right {
    flex-direction: row-reverse;
}
#indiv-431 .timetable__block-stroke-right .timetable__block-time {
    text-align: left;
}
#indiv-431  .timetable__block-stroke-right .timetable__block-text {
    text-align: right;
}
#indiv-431  .dresscode__header{
        color: var(--orange-color);
    position: relative;
    width: 80%;
    margin: 0 13% 0 7%;
    text-align: left;
        z-index: 3;
            max-width: 500px;
    margin: auto;
}
#indiv-431  .dresscode_title_text{
        color: var(--orange-color);
}
#indiv-431  .dresscode_descr_text {
        color: var(--orange-color);
}
#indiv-431 .img-newspaper-1{
    position: absolute;
    width: 40%;
    transform: rotate(-45deg);
    right: -10%;
    max-width: 300px;
    z-index: 2;
}
#indiv-431 .dresscode_common{
    position: relative;
}

#indiv-431 #dresscode{
    padding-bottom: 70px;
    background: var(--background2-color);
}
#indiv-431 .details-block img{
        position: absolute;
    width: 80%;
    left: 0%;
    top: 0;
    transform: translate(-75%, -10px);
}
#indiv-431 .footer__container{
        text-align: center;
}
#indiv-431 .details-block{
        gap: 10vh;
    text-align: right;
    position: relative;
    width: 80%;
    margin: auto;
    max-width: 500px;
    display: flex
;
    flex-direction: column;
}
#indiv-431 .opros-inside{
    width: 80%;
    margin: auto;
    max-width: 500px;
    text-align: left;
}
#indiv-431 .question__label{
    margin: 5px 0;
}
#indiv-431 .opros-grup-title{
        font-size: 20px;
    padding-top: 20px;
}
#indiv-431 input[type="text"] {
    border: 0px;
    border-bottom: 1px solid black;
    border-radius: 0;
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    background: var(--background3-color);
    text-transform: uppercase;
    padding: 10px 0 5px !important;
}
#indiv-431 .question__text-span{
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-size: 14px;
    max-width: 600px;
   
        overflow: hidden;
}
#indiv-431 .names-footer{
    font-family: var(--beauty-font);
    color: var(--blue-color);
    font-size: 48px;
    line-height: 120%;
}
#indiv-431 #details{
    background-image: url(/images/sites/indiv/431/7.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center center;
    z-index: -100;
    position: relative;
    color: var(--dark-blue-color);
    font-size: 24px;
    line-height: 100%;
    height: 70vh;
        max-width: 450px;
    margin: auto;
    overflow: hidden;
}
#indiv-431 .pulse {
  animation: pulse 7s linear infinite; /* 3 секунды, линейно, бесконечно */
}
@keyframes pulse {
  0% {
    transform: scale(1); /* Исходный размер */
  }
  50% {
    transform: scale(1.15); /* Увеличение на 5% */
  }
  100% {
    transform: scale(1); /* Возврат к исходному размеру */
  }
}
@media screen and (max-width: 1700px) {
 
}

@media screen and (max-width: 1300px) {
 
}

@media screen and (max-width: 800px) {
#indiv-431{
    font-size: 16px;
    line-height: 120%;
}
#indiv-431 .title_text{
    font-size: 58px;
    line-height: 130%;
}
#indiv-431 .descr_text{
    font-size: 26px;

    line-height: 120%;
}
 #indiv-431  .date-calendar {
    margin: 50px 20px;
}
#indiv-431 .wedding-day:before {
    width: 40px;
    height: 35px;
}
}

