@media screen and (max-width: 1700px) {
 
}

@media screen and (max-width: 1300px) {
 
}

@media screen and (max-width: 800px) {

}
@font-face {
  font-family: 'Copperplate';
  src:  url(../../fonts/13552.otf);
       font-style: normal;
       font-weight: normal;
}
@font-face {
  font-family: 'grotesk-dark';
  src:  url(../../fonts/grotesk-dark.otf);
       font-style: normal;
       font-weight: normal;
}

#icecream {
    /*--primary-color: #333;
    --secondary-color: #eee;*/
    --background-color1: #f7b5ce;
       --background-color2: #f38bb3;
          --background-color3: #f0689a;
             --background-color4: #ef3b7b;
    --header-color: #000000;
    --text-color: #FFFFFF;
    --main-font: 'Copperplate', sans-serif; /* Основной шрифт */
    --beauty-font: 'grotesk-dark', sans-serif; /* Шрифт для заголовков */
    --secondary-font: 'Hagin', sans-serif; /* Второй шрифт */
}

#icecream{
    overflow: hidden;
    font-family: var(--main-font);
    font-size: 24px;
    line-height: 120%;
    color: var(--text-color); 
    background: var(--background-color1);
    max-width: 500px;
    margin: auto;
}
#icecream p{
        margin: 0;
}
#icecream .title_text{
    font-family: var(--beauty-font);
    font-size: 42px;
    line-height: 120%;
    text-shadow: 2px 2px 10px var(--background-color4);
    color: var(--text-color);
            text-align: right;
        padding-bottom: 20px;
        padding-right: 10%;
        text-transform: uppercase;
            
}
#icecream .descr_text{
    font-family: var(--main-font);
    font-size: 24px;
    line-height: 120%;
    color: var(--text-color);
    text-align: center;
}
 #icecream .header-block-names{
         background: var(--background-color2);
 }
  #icecream  .header-block-bottom{
      background: var(--background-color3);
 }
  #icecream .header-block-bottom{
         padding: 10px 0 50px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: var(--beauty-font);
    color: var(--background-color1);
 }
  #icecream .header-block-names{
     font-size: 36px;
    font-family: var(--beauty-font);
    line-height: 120%;
    text-transform: uppercase;
    /* width: 70%; */
    /* margin: auto; */
    padding: 30px 15%;
 }
 #icecream .header-block-top{
         padding: 50px 0 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: var(--beauty-font);
    color: var(--background-color4);
 }
 #icecream .header-block-small-heart{
         background: var(--background-color4);
             padding-bottom: 30px;
 }
 #icecream .block-img-frame{
     background-image: linear-gradient(to bottom, var(--background-color4), var(--background-color1));
     padding: 50px 10%;
 }
#icecream #playButton{
     cursor: pointer;
    width: 15%;
    margin: auto;
    max-width: 70px;
    padding: 30px 0 10px;
 }
#icecream .info-invitation{
     text-align: center;
 }
#icecream .welcome_title_text{
         text-transform: uppercase;
    font-family: var(--beauty-font);
    font-size: 24px;
    line-height: 120%;
    padding-bottom: 20px;
 }
#icecream #welcome-text{
     text-align: center;
    width: 85%;
    margin: auto;
 }
  #icecream  .calendar-days {
    display: flex
;
    margin: auto;
    text-align: center;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
 #icecream .calendar-days span {
       padding: 15px 15px;
    /* height: 50px; */
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-size: 24px;
    line-height: 100%;
}
 #icecream .calendar-days span.days-opacity{
    padding: 10px;
    /* height: 50px; */
    border: 1px solid #ffffff8c;
    border-radius: 10px;
    font-size: 24px;
    line-height: 100%;
    color: #ffffff8c;
    
}
#icecream span.wedding-day {
  color: var(--background-color4);
    background: url(/images/sites/icecream/heart-01.png) center center no-repeat;
    /* background-position: center center; */
    border: 0px;
    padding: 25px 25px;
    /* height: auto; */
    background-size: cover;
    text-align: center;
    font-family: var(--beauty-font);
    font-size: 20px;
}
#icecream .calendar-header{
        color: var(--header-color);
    font-family: var(--beauty-font);
    text-transform: uppercase;
    font-size: 22px;
    padding: 40px 0 0px;
}
#icecream  #places{
        background: var(--background-color2);
            color: var(--header-color);
}
#icecream #places{
        position: relative;
    padding: 70px 0 50px;
}
#icecream .title-place{
    position: relative;
}
#icecream .info-date__img{
    position: absolute;
    left: 0%;
    width: 40%;
    transform: translate(-40%, 0);
}
#icecream .text-place{
        position: relative;
    text-align: right;
    width: 67%;
    margin-left: 26%;
    margin-right: 7%;
    /* color: var(--header-color); */
    text-transform: uppercase;
}

#icecream .place-right{
    text-align: right;
    color: var(--header-color);
}
#icecream #registration-title{
    text-transform: uppercase;
    padding: 10px 0;
}
#icecream #registration-place{
    text-align: right;
    color: var(--header-color);
}
#icecream #registration-time{
    font-size: 18px;
    font-family: var(--beauty-font);
    line-height: 100%;
    padding: 20px 0;
}
#icecream .text-place .title_text{
        color: var(--header-color);
    font-size: 24px;
    padding: 0;
        text-shadow: 0 0 BLACK;
}
#icecream  .rsvp__button::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/sites/icecream/button-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
}
#icecream  .rsvp__buttons {
    display: flex
;
   justify-content: flex-end;
    gap: 15px;
    padding-top: 10px;
}
#icecream  .rsvp__button span{
    position: relative;
    z-index: 100;
    font-size: 18px;
    text-transform: uppercase;
}
#icecream   .rsvp__button{
    position: relative;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 12px;
    font-family: inherit;
    color: #ffffff;
    width: 200px;
    height: 60px;
    display: flex
;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding-top: 15px;
}
#icecream  #plan{
    background: var(--background-color3);
}
#icecream  #dresscode{
        background-image: linear-gradient(to bottom, var(--background-color4), var(--background-color1));
}
#icecream   .dresscode__color{
        max-width: 80px;
}
#icecream   .dresscode__colors {
        display: flex
;
    justify-content: center;
    width: 90%;
    margin: auto;
    gap: 10px;
    padding: 30px 0;
}
#icecream   .dresscode_descr_text {
    width: 90%;
    margin: auto;
}
#icecream #details{
        background: var(--background-color2);
}
#icecream .separator-image, #icecream .timetable__block-line-start{
        width: 12%;
    margin: auto;
    padding: 20px 0;
    max-width: 50px;
}
#icecream .question{
        background: var(--background-color3);
}
#icecream .counter{
     background-image: linear-gradient(to bottom, var(--background-color4), var(--background-color1));
}
#icecream #clockdiv {
    width: 90%;
    display: flex
;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: auto;
}
#icecream  .timer__block-info {
    display: flex
;
    flex-direction: column;
    align-items: center;
}
 #icecream  .timer__block {
       width: 80px;
    background: url(/images/sites/icecream/heart-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* margin-bottom: 5px; */
    height: 80px;
}
#icecream .timer__block  span{
        line-height: 80px;
    color: var(--background-color4);
    font-size: 20px;
    font-family: var(--beauty-font);
}
#icecream .timer-title{
    font-size: 24px;
}
#icecream .timer__text{
    color: var(--header-color);
}
#icecream .timer{
        padding: 30px 0 50px;
}
#icecream .footer {
    background: var(--background-color2);
}
#icecream .names-footer{
        font-size: 24px;
    font-family: var(--beauty-font);
    text-transform: uppercase;
    text-shadow: 2px 2px 10px var(--background-color4);
    line-height: 120%;
}
#icecream .footer__text {
        color: var(--header-color);
    text-transform: uppercase;
    font-size: 20px;
}
#icecream .footer__container img{
    padding: 20px 0;
    max-width: 400px;
    width: 90%;
    margin: auto;
}
#icecream .footer {
    background: var(--background-color2);
    padding: 30px 10% 70px;
}
@media screen and (max-width: 1700px) {
 
}

@media screen and (max-width: 1300px) {
 
}

@media screen and (max-width: 800px) {
#icecream{
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 120%;
    color: var(--text-color);
    background: var(--background-color1);
}
#icecream .title_text{
    font-family: var(--beauty-font);
    font-size: 28px;
    line-height: 130%;
    color: var(--text-color);
}
 #icecream .descr_text{
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 120%;
    color: var(--text-color);
}
#icecream .text-place .title_text{
        color: var(--header-color);
    font-size: 24px;
            padding: 0;
        text-shadow: 0 0 BLACK;
}
#icecream .timer-title{
    font-size: 24px;
}

}
@media screen and (max-width: 400px) {
    #icecream .title_text{
    font-size: 32px;
}
#icecream .names-footer {
    font-size: 24px;
    font-family: var(--beauty-font);
    text-transform: uppercase;
    text-shadow: 2px 2px 10px var(--background-color4);
    line-height: 120%;
}
#icecream .timer-title {
        font-size: 24px;
    }
    #icecream .header-block-names {
    font-size: 28px;
}
}